{% extends "base.html" %}
{% block title %}<title>Basket page</title>{% endblock %}

{% block link %}
    <link rel="stylesheet" href="../static/css/basket.css">
{% endblock %}

{% set i = namespace(value=0) %}

{% block main %}
    <div class="main">
        <div class="wrapper">

            <div class="goods">
                {% for product in goods if not i.value == 4 %}
                    {% if product.customer_id == user.id %}
                        <div class="goods-item" id="inscription">
                            <img src="{{ product.picture }}" id="T-shirt-img" alt="T-shirt" class="goods-image">
                            <p class="goods-title" id="T-shirt-tag">{{ product.tag }}</p>
                            <p class="goods-price" id="T-shirt-price">{{ product.price }}$</p>
                            {% set i.value = i.value + 1 %}
                            <button type="submit" class="buy-btn"><a href="/payment/{{ product.id }}">Buy</a></button>
                            <button type="submit" id="delete-btn" class="delete-btn" onclick="product_delete('{{ product.id }}');">Delete</button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="../static/JS/basket.js"></script>
{% endblock %}