{% extends "base.html" %}
{% block title %}<title>Password reset page</title>{% endblock %}

{% block link %}
    <link rel="stylesheet" href="../static/css/password_reset.css">
{% endblock %}

{% block main %}
    <div class="main">
        <form method="POST" name="registrationForm">
            <h3 class="reset-title">Reset password</h3>
            <div class="input">
                <input type="email" name="email" placeholder="Enter email">
            </div>
                <button type="submit" class="btn">Enter</button>
        </form>
    </div>
{% endblock main %}