@import 'variables';

.main {
    width: 450px;
    height: 170px;
    background-color: #43c223;
    margin: 100px auto 0 auto;
    text-align: center;

    @include breakpoint(xs) {
        width: 430px;
    }

    @include breakpoint(xss) {
        height: 160px;
        width: 380px;
        font-size: 15px;
    }

    @include breakpoint(xsss) {
        width: 100%;
        font-size: 14.5px;
    }
}

.reset-title {
    padding-top: 10px;
}

input[type="email"] {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 25px;
    border: none;

    @include breakpoint(xs) {
        width: 280px;
    }

    @include breakpoint(xss) {
        width: 250px;
    }
}

.btn {
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin-bottom: 25px;

    @include breakpoint(xs) {
        padding: 10px 25px;
    }

    @include breakpoint(xss) {
        padding: 8px 22px;
    }
}

.btn:hover {
    transition: all 0.5s;
    background-color: #FF5733;
    color: #fff;
}